@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: normal;
  src: local("Averta"), url("../fonts/Averta.woff") format("woff");
}
@font-face {
  font-family: "Averta\ Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Averta-Bold"), url("../fonts/Averta\ Bold.woff") format("woff");
}
